html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Garamond, sans-serif;
}

h1.title {
	text-align: center;
    padding: 8px;
    margin-top: 8px;
    color: rgb(142, 66, 0);
    
}

div.quote-container {
    text-align: center;
    font-size: 10px;
    color: rgba(23, 23, 23, 0.638);
}

ul.recipe-list {
    text-align: center;
    margin-top: 2rem;
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 4px;
    border-radius: 8px;
    border: 1px #c0bfbf31 solid;
    box-shadow: 2px 3px 3px #c0bfbf9c
}

li:hover {
    background-color: rgba(142, 66, 0, 0.265);
}

li:active {
    background-color: rgba(136, 65, 3, 0.733);
}

a {
    color: rgb(157, 74, 0);
}

figure.recipe-image {
    width: 160px;
    display: inline-block;
    padding: 8px 4px;
}

img {
    width: 140px;
    height: 140px;
    border-radius: 6px;
}

figcaption {
    font-size: 10px;
    margin-top: 4px;
   
}



